/* ---------- Buttons ---------- */

.button {
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 50px;
  transition: all .5s;
}

.button:hover {
  cursor: pointer;
  text-decoration: none;
}

.button--video {
  color: $gray-dark;
}

.button--video:hover {
  background-color: $blue;
  border-color: $blue;
  color: $white;
}

.button--blue {
  background-color: $blue;
  border-color: $blue;
  color: $white;
}

.button--blue:hover {
  background-color: transparent;
  color: $blue;
}

.button--small {
  background-color: transparent;
  color: $gray-dark;
}

.button--small:hover {
  background-color: $blue;
  border-color: $blue;
  color: $white;
}

.button--form {
  background-color: $green;
  color: $white;
}

.button--form:hover {
  background-color: transparent;
  border-color: $green;
  color: $green;
}

.button--light-blue {
  background-color: transparent;
  border-color: $blue;
  color: $blue;
}

.button--light-blue:hover {
  background: $blue;
  color: $white;
}
